.contact-form, .contact-info, .link, .contact-menu {
    padding-top: 30px;
}

.contacts-container {
    padding-top: 60px;
}

.comic-container {
  padding-bottom: 10px;
}

.searched-gifs {
    padding-top: 30px;
    padding-bottom: 20px;
}

.contact-form .ng-invalid.ng-touched{
  border-color: red;
}
.contact-form .ng-valid.ng-touched{
  border-color: green;
}
.contact-form p{
  color: red;
  margin-top: 5px;
  margin-left: 5px;
}

.list-contacts, .list-gifs, .list-comics, .list-fav-comics, .list-fav-gifs{
  max-height: 450px;
  overflow: scroll;
}

.gif-container {
    height: 100px;
    padding-bottom: 30px;
}

.list-gifs, .list-comics {
    max-height: 200px;
    margin-bottom: 20px;
}

.selected {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.buttons {
    margin-top: 10px;
}