.contact-form, .list-contacts, .contact-info, .link, .contact-menu {
    padding-top: 30px;
}

.gif-container {
    width: 300px;
    height: 200px;
}

.searched-gifs {
    padding-top: 30px;
    padding-bottom: 5px;
}

