<main class="container">
   <div class="row link">
       <a href="#!/home">Volver</a>
   </div>
    <div class="row contact-info">
        <div class="col-lg-2">
            <img heigth="100" width="100" ng-src="{{contact.photo}}" alt="profileImage">
            <h2>Datos Personales</h2>
            <p><strong>Nombre:</strong> {{contact.name}}</p>
            <p><strong>Teléfono:</strong> {{contact.phone}}</p>
            <p><strong>Email:</strong> {{contact.email}}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <h2>Gifs Favoritos</h2>
        </div>
         <div class="col-lg-4">
            <h2>Comics Favoritos</h2>
        </div>
    </div>
</main>
