<main class="container">
    <div class="row">
        <div class="contacts-container col-lg-4">
            <div class="list-contacts">
                <div ng-repeat="contact in contacts track by contact.id">
                    <div class="thumbnail">
                        <img heigth="100" width="100" ng-src="{{contact.photo}}" alt="profileImage" onerror="img/default.png" />
                        <div class="caption">
                            <h3>{{contact.name}}</h3>
                            <b>Teléfono:</b><span> {{contact.phone}}</span>
                            <p class="text-right">
                                <a href="#!/contact/{{contact.id}}" class="btn btn-info">Ver</a>
                                <button class="btn btn-warning" ng-click="modifyContact(contact)">Editar</button>
                                <button class="btn btn-danger" ng-click="removeContact()">Eliminar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-2 contact-menu">
           
            <div class="form-menu">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="changeMode(0)" ng-class="{active : mode == 0}">Formulario</button>
                    <button type="button" class="btn btn-default" ng-click="changeMode(1)" ng-class="{active : mode == 1}">Gifs</button>
                    <button type="button" class="btn btn-default" ng-click="changeMode(2)" ng-class="{active : mode == 2}">Otros</button>
                </div>
            </div>
            
            <div class="content" ng-show="mode == 0">
                <form name="contactForm" class="contact-form" novalidate>
                    <div class="form-group">
                        <label>Nombre *</label>
                        <input ng-model="contact.name" name="name" type="text" class="form-control" placeholder="Nombre ..." ng-required="true" />
                        <p ng-show="contactForm.name.$touched && !contactForm.name.$valid">
                            No te olvides de introducir un nombre.
                        </p>
                    </div>
                    <div class="form-group">
                        <label>URL Foto *</label>
                        <input ng-model="contact.photo" name="photo" type="text" class="form-control" placeholder="URL Foto ..." ng-required="true" />
                        <p ng-show="contactForm.photo.$touched && contactForm.photo.$invalid">No te olvides de indicar una foto</p>
                    </div>
                    <div class="form-group">
                        <label>Correo *</label>
                        <input ng-model="contact.email" name="email" type="email" class="form-control" placeholder="Correo ..." ng-required="true" />
                        <p ng-show="contactForm.email.$touched && contactForm.email.$invalid">Introduzca un email válido</p>
                    </div>
                    <div class="form-group">
                        <label>Telefono *</label>
                        <input ng-model="contact.phone" name="phone" type="text" class="form-control" placeholder="Telefono ..." ng-required="true" ng-min="9" ng-pattern="/^[9|6|7][0-9]{8}$/" />
                        <p ng-show="contactForm.phone.$touched && contactForm.phone.$invalid">Introduzca un teléfono válido</p>
                    </div>

                </form>
            </div>

            <div class="content" ng-show="mode == 1">
                <form name="gifForm" class="contact-form">
                    <p><strong>{{contact.name}}</strong></p>

                    <div class="row">
                        <div ng-repeat="gif in gifsPreFav">
                            <div class="col-lg-3">
                                <div class="row gif-container">
                                    <button class="btn btn-default" ng-click="removeFavGif(gif.id)"><img heigth="100" width="100" ng-src="{{gif.images.preview_gif.url}}" alt="gif"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Buscar..." ng-model="search">
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-click="changeFilter(1)" ng-class="{active : filterMode  == 'trending_datetime'}">Trending</button>
                            <button type="button" class="btn btn-default" ng-click="changeFilter(0)" ng-class="{active : filterMode  == 'rating'}">Recents</button>
                        </div>
                        <button class="btn btn-success" ng-click="searchGif(search, 0)">Buscar</button>
                    </div>

                    <div class="row searched-gifs">
                        <div ng-repeat="gif in gifs | orderBy: filterMode">
                            <div class="col-lg-3">
                                <div class="row gif-container">
                                    <button class="btn btn-link" ng-click="setFavGif(gif)"><img heigth="100" width="100" ng-src="{{gif.images.preview_gif.url}}" alt="gif" ng-class="{selected : checkFav(gif.id) == true}"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <button class="btn btn-default" ng-click="searchGif(search, 2)">&lt;</button>
                        </div>
                        <div class="col-lg-2 col-lg-offset-8">
                            <button class="btn btn-default" ng-click="searchGif(search, 1)">&gt;</button>
                        </div>
                    </div>


                </form>
            </div>

            <div class="content" ng-show="mode == 2">
                <form name="comicForm" class="contact-form">
                    <p><strong>{{contact.name}}</strong></p>

                    <div class="row">
                        <div ng-repeat="comic in comicsFav">
                            <div class="col-lg-3">
                                <div class="row gif-container">
                                    <button class="btn btn-default" ng-click="removeFavComic(comic.id)"><img heigth="100" width="100" ng-src="{{comic.cover}}" alt="comic"></button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-5">
                            <input type="text" class="form-control" placeholder="Buscar..." ng-model="comic" ng-change="searchComics(comic, 0)">
                        </div>
                    </div>

                    <div class="row searched-gifs">
                        <div ng-repeat="comic in comics">
                            <div class="col-lg-4">
                                <div class="row gif-container">
                                    <button class="btn btn-link" ng-click="setComicFav(comic)"><img heigth="100" width="100" ng-src="{{comic.cover}}" alt="comic" ng-class="{selected : checkFavComic(comic.id) == true}"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <button class="btn btn-default" ng-click="searchComics(comic, 2)">&lt;</button>
                        </div>
                        <div class="col-lg-2 col-lg-offset-8">
                            <button class="btn btn-default" ng-click="searchComics(comic, 1)">&gt;</button>
                        </div>
                    </div>


                </form>

            </div>


            <div class="buttons">
                <button class="btn btn-success" ng-click="addContact()" ng-show="modify == 0" ng-disabled="!checkContact()">Guardar</button>
                <button class="btn btn-success" ng-click="updateContact()" ng-hide="modify == 0">Editar</button>
            </div>
        </div>
    </div>
</main>
