<main class="container">
    <div class="row">
        <div class="contacts-container col-lg-4">
            <div class="list-contacts">
                <div ng-repeat="contact in contacts track by contact.id">
                    <div class="thumbnail">
                        <img heigth="100" width="100" ng-src="{{contact.photo}}" alt="profileImage" onerror="img/default.png" />
                        <div class="caption">
                            <h3>{{contact.name}}</h3>
                            <b>Teléfono:</b><span> {{contact.phone}}</span>
                            <p class="text-right">
                                <a href="#!/contact/{{contact.id}}" class="btn btn-info">Ver</a>
                                <button class="btn btn-warning" ng-click="modifyContact(contact)">Editar</button>
                                <button class="btn btn-danger" ng-click="removeContact(contact.id)">Eliminar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-lg-offset-2 contact-menu">

            <div class="form-menu">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="changeMode('form')" ng-class="{active : mode == 0}">Formulario</button>
                    <button type="button" class="btn btn-default" ng-click="changeMode('gifs')" ng-class="{active : mode == 1}">Gifs</button>
                    <button type="button" class="btn btn-default" ng-click="changeMode('comics')" ng-class="{active : mode == 2}">Otros</button>
                </div>
            </div>

            <div class="content" ng-show="mode == 'form'">
                <form name="contactForm" class="contact-form" novalidate>
                    <form-component contact='contact' contactForm='contactForm'></form-component>
                </form>
            </div>

            <div class="content" ng-show="mode == 'gifs'">
                <gifs-component contact='contact'></gifs-component>
            </div>

            <div class="content" ng-show="mode == 'comics'">
                <comics-component contact='contact'></comics-component>
            </div>

            <div class="buttons">
                <button class="btn btn-success" ng-click="addContact()" ng-show="modify == 0" ng-disabled="!checkContact()">Guardar</button>
                <button class="btn btn-success" ng-click="updateContact()" ng-hide="modify == 0">Editar</button>
            </div>
        </div>
    </div>
</main>
